.stat-icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}
.status-dot {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 0px;
    margin-left: 15px;
}
.status-dot.available {
    background-color: #198754;
}
.status-dot.occupied{
    background-color: #dc3545;
}

